<% layout("layouts/boilerplate") %>

<link rel="stylesheet" href="css/feed.css" />

<div class="container">
  <div class="row">
    <div class="nav-menu col-2 d-flex flex-column">
      <a href="#" class="active"><i class="bi bi-house-fill me-3"></i> Home</a>
      <a href="#"><i class="bi bi-search me-3"></i> Explore</a>
      <a href="#"><i class="bi bi-bell me-3"></i> Notifications</a>
      <a href="#"><i class="bi bi-envelope-open me-3"></i> Messages</a>
      <a href="#"><i class="bi bi-people me-3"></i> Communities</a>
      <a href="#"><i class="bi bi-person me-3"></i>Profile</a>
      <a href="#"><i class="bi bi-three-dots me-3"></i> More</a>
      <a href="/tweets/new"
        ><button class="postBtn rounded-pill">Post</button></a
      >
    </div>

    <div class="feed col-8 d-flex flex-column ps-0">
      <div class="postTweet mt-2">
        <div class="row">
          <div class="col-2 d-flex justify-content-center">
            <div class="img-container">
              <img src="images/avatar.png" alt="" />
            </div>
          </div>
          <div class="col">
            <form
              action="/tweets"
              method="post"
              class="d-inline needs-validation"
              novalidate
            >
              <textarea
                name="tweet"
                id=""
                class="form-control w-100 pb-0"
                placeholder="What is happening?!"
              ></textarea>

              <div class="row mb-3">
                <div class="d-flex justify-content-end">
                  <button class="rounded-pill">Post</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <% for(tweet of tweets) {%>
      <div class="tweet" style="border-top: 1px solid rgb(63, 63, 63)">
        <div class="row">
          <div class="col-2"></div>
          <div class="col ps-0">
            <div class="card py-3">
              <div class="card-header">
                <%= tweet.user.username %>
                <small class="text-secondary fw-normal fs-6"
                  >@<%= tweet.user.id %> &bull; <%= tweet.date %></small
                >
              </div>
              <div class="card-body py-0">
                <p><%= tweet.tweet %></p>
              </div>
              <div class="card-footer">
                <form
                  action="/tweets/<%= tweet.id %>/like"
                  method="post"
                  class="d-inline"
                >
                  <button class="btn p-0" name="liked" value="true" id="heartBtn">
                    <!-- <i class="bi bi-heart text-light"></i> -->

                    <% if( tweet.likes.some((like) => like._id.toString() ===
                    currentUser.id ) ) {%>
                    <i class="bi bi-heart-fill text-danger"></i>
                    <% } else { %>
                    <i class="bi bi-heart text-light"></i>

                    <% } %>
                    <!--  -->
                  </button>
                </form>
                <span class="fs-6 text-secondary"
                  ><%= tweet.likes.length %></span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>
